*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(gambar/galaxy-wallpaper-preview-34.jpg);
	background-size: cover;

}
nav{
	position: relative;
	width: 100%;
	height: 37px;
	background-color: #ffcc66;
}
.file{
	box-shadow: 0px 0px 8px 3px #ff9933;
	font-size: 48px;
    background: #00ff66;
    margin-left :200px;
    font-family: algerian;
    margin-left :200px;
  margin-right: 200px;
  padding-right: 50px;
  
}
.main-nav{
	float: right;
	list-style: none;
	margin-top: 11px;
	background: 
	padding :;
}
.main-nav li{
	display: inline-table;
}
.main-nav li a{
	color: green;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto", sans-serif;
	font-size: 15px;
}
.main-nav li.active a{
	border: 1px solid blue;
}
.main-nav li a:hover{
	border: 1px solid white;
}
h1{
	font-family: Narnia BLL;
	color: #ff6633;
	b
}
h2{
	font-size: 40px;
	color: green;
	box-shadow: 0px 0px 6px 3px #33ff00;
	margin: 5%;
	padding: 0%;
	margin-top: 1%;
}
footer{
	
	margin-top: 35px;
	position: center;
	background:#003300;
	font-size: 17px;
	width: 100%;
	margin-right: 40%;
	padding: 5px;
	font-family: Amperzand;
	color: #ff9933;}
a:link {
	color:blue;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color:red;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color:yellow;
	background-color:transparent;
	text-decoration:none;
}
a:active{
	color:black;
	background-color:transparent;
	text-decoration:none;
}
}